.auth__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth__card {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 500px;
    height: 580px;
    padding: 5rem;
    border-radius: 10px;
    margin-block: 12rem;
}

.auth__container h3 {
    background: rgba(255, 255, 255, 0);
    color: #e0e0e0;
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.input__container {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0);
}

.input__container input {
    margin-block: 1rem;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-radius: 10px;
    color: #e0e0e0;;
}

.input__container button {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    background: rgba(46, 213, 115, 0.3);
    color: #e0e0e0;
}

.input__container p {
    background: rgba(255, 255, 255, 0);
    text-align: center;
    color: #e0e0e0;
    font-size: 14px;
    padding-top: 0.7rem;
}

.input__container span {
    background: rgba(255, 255, 255, 0);
    text-decoration: underline;
    color: #add8e6;
    margin-left: 0.5rem;
}

@media (min-device-width: 320px) and (max-device-width: 480px) {
    .auth__card {
        width: 350px;
        height: 480px;
    }

    .auth__container h3 {
        font-size: 1.7rem;
    }

    .input__container input {
        padding: 0.5rem;
        font-size: 12px;
    }

    .input__container button {
        padding: 0.5rem;
        font-size: 12px;
    }

    .input__container p {
        font-size: 12px
    }

}
