.search__section {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
    
}

.search-input {
  width: 100%;
  height: 3rem;
  padding: 1rem 1.5rem;
  margin-top: 5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  font-size: 1rem;
  transition: all 0.3 ease;
  background: rgba(255, 255, 255, 0.05);
  color: #fff;
  backdrop-filter: blur(10px);
}

.search-input:focus {
  outline: none;
  border-color: #add8e6;
  box-shadow: 0 0 0 3px rgba(173, 216, 230, 0.2);
  background: rgba(255, 255, 255, 0.08);
  
}

.search__icon {
    position: absolute;
    background: rgba(255, 255, 255, 0);
    right: 0.8rem;
    top: 5.6rem;
    font-size: 1.7rem;
    border-radius: 1rem;
}

.search__icon:hover {
    background: rgba(255, 255, 255, 0.3);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  padding-block: 5rem;
  padding-inline: 5rem;
  text-align: center;
}

.filter-container {
  flex-basis: 15%;
  min-width: 200px;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin-right: 1rem;
  background: rgba(255, 255, 255, 0.1);
}

.filter-container h3 {
  background: rgba(255, 255, 255, 0);
  text-align: left;
  padding: 20px;
}

.filter-item h5 {
  text-align: left;
  padding-bottom: 1rem;
}

.filter-item-container {
  background: rgba(255, 255, 255, 0);
  padding: 0.75rem 1.25rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.filter-item h5 {
  background: rgba(255, 255, 255, 0.1);
}

.filter-item select {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  cursor: pointer;
  width: 100%;
  padding: 5px 7px;
}

.filter-item select:hover {
  background: rgba(255, 255, 255, 0.08);
}

.filter-item select:focus {
  outline: none;
  border-color: #add8e6;
}

.images-container {
  flex-basis: 85%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 1rem
}

.empty-container {
  flex-basis: 85%;
  flex-direction: row;
}

.empty-container p {
  display: flex;
  height: 100%;
  font-size: 24px;
  padding-left: 30rem;
  align-items: center;
}

/* Phones */
@media (min-device-width: 320px) and (max-device-width: 480px) {
  .search__section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 2rem;
  }

  .search-input {
    padding: 0.5rem 1rem;
    margin-inline: 2rem;
  }

  .search__icon {
    right: 2.7rem;
  }

  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0;
    padding: 0 2rem;
  }

  .filter-container {
    margin-block: 2rem 2rem;
  }

  .filter-container h3 {
    display: flex;
    width: 200px;
    justify-content: center;
  }

  .filter-container h3:hover {
    border-color: rgba(173, 216, 230, 0.3);
    background: rgba(255, 255, 255, 0.05);
    cursor: pointer;
  }

  .filter-item-container {
    display: none;
  }

  .filter-item-container.show {
    display: flex;
  }
  
  .filter-item {
    width: 150px;
  }
}