.image__info-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.image__info-container h5 {
    background: rgba(255, 255, 255, 0);
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.image__info-container img {
    width: 200px;
    height: 100px;
    object-fit: fill;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.image__details {
    margin-bottom: 1rem;
}

.image__details span {
    background: rgba(255, 255, 255, 0);
    font-size: 12px;
    font-weight: bold;
}

.image__details p {
    background: rgba(255, 255, 255, 0.1);
    font-size: 10px;
}

#download-button {
    width: 100%;
    height: 35px;
    background: #08495f;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    color: #e0e0e0;
    margin-top: 0.5rem;
    cursor: pointer;
}

#download-button:hover {
    background: #1b637b;
}

#back {
    position: relative;
    background: rgba(255, 255, 255, 0);
    color: #e6e6e6;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    margin-right: 40rem;
    cursor: pointer;
}

#back:hover {
    color: #c56767;
}