.image__card {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.image__card:hover {
  transform: translateY(-10px);
  box-shadow: 0 16px 48px rgba(0, 0, 0, 0.5);
  border-color: rgba(173, 216, 230, 0.3);
  background: rgba(255, 255, 255, 0.05);
}

.image__card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 0.1rem;
  background: rgba(255, 255, 255, 0.1);
}

.image__button {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  border-radius: 1rem;
  position: absolute;
  margin: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.image__button:hover {
  border-color: rgba(173, 216, 230, 0.3);
  background: #e05c5c
}

.image__button.liked {
  background: #e05c5c;
}

.image__button.liked:hover {
  border-color: rgba(173, 216, 230, 0.3);
  background: rgba(255, 255, 255, 0.1)
}