.liked__images-container {
    display: grid;
    width: 100%;
    padding: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 2rem
}

.empty-container {
    font-size: xx-large;
    text-align: center;
    margin-top: 20rem;
}

/* Phones */
@media (min-device-width: 320px) and (max-device-width: 480px) {
    .liked__images-container {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        justify-content: center;
    }

    .empty-container {
        font-size: 1.5rem;
        text-align: center;
    }
}
