nav * {
  background: rgba(255, 255, 255, 0);
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 2rem 2rem;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo__section {
  display: flex;
  margin-left: 3rem;
  text-decoration: none;
  color: #e0e0e0;
}

.navigation__section {
  display: flex;
  gap: 0.5rem;
  margin-right: 3rem;
}

.liked__link,
.logout__button {
  text-decoration: none;
  color: #e0e0e0;
}

.liked__link {
  align-content: center;
}

.liked__link:hover {
  color: #add8e6;
}

.active {
  text-decoration: underline;
  color: #add8e6;
}

.logout__button {
  width: 100px;
  background: #e05c5c;
  margin-left: 1rem;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.logout__button:hover {
  background: #c56767;
}

.menu {
  display: none;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

.menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 0.2rem;
}

/* Phones */

@media (min-device-width: 320px) and (max-device-width: 480px) {
    nav {
      flex-wrap: wrap;
      padding-top: 2rem;
      margin-bottom: -50px;
    }
    .logo__section {
      margin-left: 1rem;
    }

    .menu {
      display: flex;
    }

    .navigation__section {
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      gap: 1rem;
    }

    .navigation__section {
      display: none;
    }

    .navigation__section.show {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2.5rem;
      margin-left: 0;
      margin-right: 4rem;
    }

    .liked__link {
      font-size: 15px;
    }

    .logout__button {
      width: 70px;
      font-size: 13px;
      padding: 7px;
    }
}